@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles below */

:root {
  --color1: #fad089;
  --color2: #ff9c5b;
  --color3: #f5634a;
  --color4: #ed303c;
  --color5: #3b8183;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom gradient classes */
.main-gradient {
  @apply bg-gradient-to-r from-dogswipe-yellow via-dogswipe-orange to-dogswipe-red;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main-bg-gradient {
  @apply bg-gradient-to-br from-dogswipe-yellow via-dogswipe-orange to-dogswipe-red;
}
